node_modules
**/node_modules
images
**/images
**/dist
**/.turbo
**/out
**/.DS_Store
.git
.github
.opencode
.dex
.math
.vscode

# Local data/state
.pnpm-store
**/.pnpm-store
.pnpm
**/.pnpm
.cache
**/.cache
**/tmp
